doctype html
html
  head
    title Combat de monstres!
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Combat de monstre !
    include menu
    block content
