@import url('https://fonts.googleapis.com/css?family=Handlee');

* {
  text-align: center;
  padding: 10px;
  font-family: 'Handlee', cursive;
}

body {
  background: rgba(174, 148, 231, 1);
  color: white;
}

li {
  list-style-type: none;
  margin-bottom: 30px;
}

a {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  color: white;
}
.tableMonsters {
  display: flex;
  justify-content: center;
}
table th {
  border: 2px solid white;
  padding: 20px;
}
input {
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}
p {
  font-size: 20px;
}
